include LICENSE
include README.md

# Python backend files
include setupbase.py
include server/jupyter-config/ballet-submit-labextension.json
include server/ballet_submit_labextension/labextension/*.tgz

# Javascript frontend files
include package.json
include tsconfig.json
graft src
graft style
graft schema
prune **/node_modules
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
